[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[scripts]
start = "python hello.py"
train = "python train.py"

[packages]
flask = "*"
flask-cors = "*"
chatterbot = "*"
chatterbot-corpus = "*"

[requires]
python_version = "3.7"
